*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: 'League Spartan', sans-serif;

  --clr-white: #ffffff;
  --clr-main-accent: #502050;
  --clr-text-verified: #ee68a4;
  --clr-text-subtitie: #937b92;
  --clr-text-common: #f7f2f7;
}

body {
  font-family: var(--font);
  color: var(--clr-text-common);
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  background: url('./images/bg-pattern-top-mobile.svg') no-repeat,
    url('./images/bg-pattern-bottom-mobile.svg') no-repeat;
  background-position: center top, center bottom;
  padding: 4rem 1.5rem;
}

/* Top section */
.top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1110px;
  text-align: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  max-width: 90%;
  font-size: 2.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--clr-main-accent);
  margin-bottom: 2rem;
}
.subtitle {
  max-width: 50ch;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  color: var(--clr-text-subtitie);
}

.reviews {
  display: grid;
  gap: 1rem;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
  color: var(--clr-main-accent);
  background-color: var(--clr-text-common);
  border-radius: 0.5rem;
}
.review__rating {
}
.review__rating > img {
  padding: 0 0.15rem;
}
.review__title {
  font-size: 1.1rem;
  font-weight: 700;
}

/* Bottom section */
.bottom {
  display: grid;
  gap: 1rem;
  max-width: 1110px;
  margin-top: 3rem;
}

.user-story {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 2rem;
  background-color: var(--clr-main-accent);
  border-radius: 0.5rem;
  overflow: hidden;
}
.user-info {
  display: flex;
  gap: 1.5rem;
}
.user-info__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.user-info__name {
  font-size: 1rem;
  font-weight: 700;
}
.user-info__verified {
  font-size: 1rem;
  color: var(--clr-text-verified);
}
.user-story__text {
  font-size: 1.1rem;
  letter-spacing: -0.025rem;
}

@media (min-width: 600px) {
  .container {
    background: url('./images/bg-pattern-top-desktop.svg') no-repeat,
      url('./images/bg-pattern-bottom-desktop.svg') no-repeat;
    background-position: left top, right bottom;
    padding: 4rem 1.5rem;
  }

  .title {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .top {
    padding: 0 3rem;
  }

  .review {
    min-width: 445px;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 2rem;
  }
  .review:nth-child(1) {
    justify-self: start;
  }
  .review:nth-child(2) {
    justify-self: center;
  }
  .review:nth-child(3) {
    justify-self: end;
  }

  .bottom {
    padding: 0 3rem;
  }
}

@media (min-width: 1000px) {
  .top {
    flex-direction: row;
    text-align: left;
    padding: 0;
  }

  /* Heading section */
  .heading {
    padding-right: 6rem;
    flex-basis: 50%;
    align-items: flex-start;
  }

  .title {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .reviews {
    flex-basis: 50%;
    padding: 1.5rem 0;
  }

  /* Bottom section */
  .bottom {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    padding: 0;
  }

  .user-story {
    max-height: 235px;
  }
  .user-story:nth-child(2) {
    margin-top: 1rem;
  }
  .user-story:nth-child(3) {
    margin-top: 2rem;
  }
}
